# Importing Libraries and creatign a Dataframe

In [30]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

df = pd.read_csv('store_sales_data.csv')

## Database information

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Customer ID        100000 non-null  object
 1   Customer Name      100000 non-null  object
 2   Last Name          100000 non-null  object
 3   Date of Birth      100000 non-null  object
 4   Sales              100000 non-null  float64
 5   Year               100000 non-null  int64
 6   Outlet Type        100000 non-null  object
 7   City Type          100000 non-null  object
 8   Category of Goods  100000 non-null  object
 9   Region             100000 non-null  object
 10  Country            100000 non-null  object
 11  Segment            100000 non-null  object
 12  Sales Date         100000 non-null  object
 13  Order ID           100000 non-null  object
 14  Order Date         100000 non-null  object
 15  Ship Date          100000 non-null  object
 16  Ship Mode          100000 non-null  object
 17  State              100000 non-null  object
 18  Postal Code        100000 non-null  int64
 19  Product ID         100000 non-null  object
 20  Sub-Category       100000 non-null  object
 21  Product Name       100000 non-null  object
 22  Quantity           100000 non-null  int64
 23  Discount           100000 non-null  float64
 24  Profit             100000 non-null  float64
dtypes: float64(3), int64(3), object(19)
memory usage: 19.1+ MB

In [32]:
df.head()

,Customer ID,Customer Name,Last Name,Date of Birth,Sales,Year,Outlet Type,City Type,Category of Goods,Region,...,Ship Date,Ship Mode,State,Postal Code,Product ID,Sub-Category,Product Name,Quantity,Discount,Profit
0,CUST000001,Curtis,Krause,1973-11-29,3344.69,2023,Large,Tier 1,Fast Food,East,...,2020-04-18,Same Day,West Bengal,700001,PROD000001,Burgers,Burgers - 718,3,0.09,448.24
1,CUST000002,Jeremy,Foster,1987-08-30,37094.41,2022,Medium,Tier 2,Fast Food,East,...,2021-01-11,Standard Class,Punjab,160001,PROD000002,Pizzas,Pizzas - 519,5,0.39,3134.34
2,CUST000003,Ariel,Mccann,1980-12-15,35501.08,2023,Large,Village,Electric Appliances,South,...,2020-08-16,Second Class,Gujarat,380001,PROD000003,Fans,Fans - 395,6,0.07,8324.21
3,CUST000004,Colleen,Maynard,1989-05-23,8969.33,2021,Medium,Village,Dairy Products,East,...,2021-10-16,First Class,West Bengal,700001,PROD000004,Milk,Milk - 798,4,0.18,1962.66
4,CUST000005,Gina,Holden,1957-12-31,35530.44,2021,Small,Village,Sessional Fruits & Vegetables,West,...,2019-01-25,Standard Class,Delhi,110001,PROD000005,Tomatoes,Tomatoes - 442,4,0.27,2843.93

## Missing and Null values

In [33]:
df.isnull().sum()

Customer ID          0
Customer Name        0
Last Name            0
Date of Birth        0
Sales                0
Year                 0
Outlet Type          0
City Type            0
Category of Goods    0
Region               0
Country              0
Segment              0
Sales Date           0
Order ID             0
Order Date           0
Ship Date            0
Ship Mode            0
State                0
Postal Code          0
Product ID           0
Sub-Category         0
Product Name         0
Quantity             0
Discount             0
Profit               0
dtype: int64

## Making heads in lower case and Standardizing

In [34]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.replace('-', '_')
df.columns = df.columns.str.replace('(', '')
print(df.columns)

Index(['customer_id', 'customer_name', 'last_name', 'date_of_birth', 'sales',
       'year', 'outlet_type', 'city_type', 'category_of_goods', 'region',
       'country', 'segment', 'sales_date', 'order_id', 'order_date',
       'ship_date', 'ship_mode', 'state', 'postal_code', 'product_id',
       'sub_category', 'product_name', 'quantity', 'discount', 'profit'],
      dtype='object')

## Extracting and Adding sales_month from sales_date

In [35]:
file_path = 'store_sales_data_cleaned.csv'
df = pd.read_csv(file_path)

df['sales_date'] = pd.to_datetime(df['sales_date'])

df['sales_month'] = df['sales_date'].dt.strftime('%b')

df.to_csv(file_path, index=False)

print("Updated CSV file with 'sales_month' column as three-letter abbreviation.")

Updated CSV file with 'sales_month' column as three-letter abbreviation.

## Extracting and Adding sales_day from sales_date

In [36]:
file_path = 'store_sales_data_cleaned.csv'
df = pd.read_csv(file_path)

df['sales_date'] = pd.to_datetime(df['sales_date'])

df['sales_day'] = df['sales_date'].dt.strftime('%b')


df['sales_day'] = df['sales_date'].dt.strftime('%a')

df.to_csv(file_path, index=False)

print("Updated CSV file with 'sales_month' and 'sales_day' columns as three-letter abbreviations.")

Updated CSV file with 'sales_month' and 'sales_day' columns as three-letter abbreviations.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   customer_id        100000 non-null  object
 1   customer_name      100000 non-null  object
 2   last_name          100000 non-null  object
 3   date_of_birth      100000 non-null  object
 4   sales              100000 non-null  float64
 5   year               100000 non-null  int64
 6   outlet_type        100000 non-null  object
 7   city_type          100000 non-null  object
 8   category_of_goods  100000 non-null  object
 9   region             100000 non-null  object
 10  country            100000 non-null  object
 11  segment            100000 non-null  object
 12  sales_date         100000 non-null  datetime64[ns]
 13  order_id           100000 non-null  object
 14  order_date         100000 non-null  object
 15  ship_date          100000 non-null  object
 16  ship_mode          100000 non-null  object
 17  state              100000 non-null  object
 18  postal_code        100000 non-null  int64
 19  product_id         100000 non-null  object
 20  sub_category       100000 non-null  object
 21  product_name       100000 non-null  object
 22  quantity           100000 non-null  int64
 23  discount           100000 non-null  float64
 24  profit             100000 non-null  float64
 25  sales_month        100000 non-null  object
 26  sales_day          100000 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(20)
memory usage: 20.6+ MB

## Dublicate values

In [38]:
df.duplicated().sum()

np.int64(0)

In [39]:
df.shape

(100000, 27)

# Exporting the Data as CSV

In [40]:
df.to_csv('store_sales_data_cleaned.csv', index=False)

# Connecting SQL

host = localhost
port = 3306
user = root
password = 'your password'

In [41]:
engine_sql = create_engine('mysql+pymysql://root:Cosmos.90@localhost:3306/store_sales_db')

try:
    engine_sql
    print ('connected')
except:
    print ('not connected')

connected

In [42]:
df.to_sql(name='store', con=engine_sql, if_exists='replace', index=False)

100000